<h1 style="text-align: center; font: 25px; ">Insert New Records</h1>

<p>
	<strong>Student Name:</strong>
	<%= @records.first_name %>
</p>

<p>
	<strong>Student Last_Name:</strong>
	<%= @records.last_name %>
</p>

<p>
	<strong>Student Contact_no:</strong>
	<%= @records.contact_no %>
</p>

<p>
	<strong>Student Address:</strong>
	<%= @records.address %>
</p>

<%= link_to 'Back To Home Page', root_path %>


